<!DOCTYPE html>
<html lang="nl">
<head>
   <%- include('../partials/head') %>
</head>
<body>
    <header>
	    <%- include('../partials/header') %>
    </header>
    <main>
      <h1 class="profile"> Jouw potentiële matches op basis van de tags:</h1>
	<section>
		<form action='/profielen' method='post'>
			<p>Jouw Tags</p>    
			<label>
				<input type="hidden" name="_id">
				<input type="input" name="sporten" value="<%= tagsArray[0]%>">
				<input type="submit" value="Verwijder Tags"></button>
			</label>
            <li><a href="/logout"><i class="material-icons ">exit_to_app</i></a></li>
		</form>
   <%if (tagsArray.length >= 0) { %>
        <% for(var i=0; i < data.length; i++) { %>
        <article>
            <a href="#">
                <h3><%= data[i].name %></h3>
            </a>
            <img src="images/kjell.jpg" alt="profielfoto">
                
           		<li><strong>Leeftijd:</strong><%= data[i].age %> jaar </li>
                <li><strong>Sport:</strong><%= data[i].sporten %></li>
                <li><strong>Aantalkeer p/w:</strong><%= data[i].aantal %> keer per week </li>
            <button type="submit"><a href="profielen-details.html">Bekijk profiel</a></button></div>
        </article>
		<% } %> 
        <% } %> 
	</section>
    </main>
</body>
</html>